.text-center {
    margin-top: 100px; 
    
}

.container_logo {
  margin-top: 50px;
  margin-left: 260px;
 
}
.logo {
    width:300px;
    margin: 40px;
    height: 100px;
}
.people1 {
  width: 250px;
}
.people2{
  width: 250px;
}
.people3{
  width: 250px;
}


.figure {

  margin-left: 50px;
}

.content {
  margin-top: 100px;
}