.text-center {
    margin-top: 100px; 
    
}

.container_logo {
  margin-top: 50px;
  margin-left: 260px;
 
}
.logo {
    width:200px;
    margin: 40px;
    height: 80px;
}
.people1 {
  width: 250px;
}
.people2{
  width: 250px;
}
.people3{
  width: 250px;
}


.figure {

  margin-left: 50px;
}

.content {
  margin-top: 100px;
}

.main_card {
  margin-left: 140px;
  margin-top: 100px;
}

.button_more {
  margin-left: 700px;
}

.feedback_user {

  margin-top: 200px;
}

.gyelist {
  margin-top: 100px
}
.howtouse {
  margin-top: 130px;
}

.whysogreat {
  margin-top: 150px;
}

.feedback_users {
  width: 600px;
  height: 300px;
}