.mypage_card {
    width: 500px;
    margin-left: 400px;
    margin-top: 100px;

    height: 1000px;
    width: 600px;
    margin-top: 100px;
    margin-bottom: auto;
    background: #DDC2F4;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.myInfo {
    margin-left: 70px;
}
.edit_button{
    margin-left: 250px;
    margin-top: 3px;
}